doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    title My Contacts Manager
    link(rel="stylesheet" href="/stylesheets/application.css")
  body
    header 
      h1 My Contacts Manager 

    - let messageTypes = Object.keys(flash || {});
    if messageTypes.length > 0
      ul
        each messageType in messageTypes
          each message in flash[messageType]
            li.flash(class=messageType)= message
          
    main 
      block content