doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    title My Contacts Manager
    link(rel="stylesheet" href="/stylesheets/application.css")
  body
    header 
      h1 My Contacts Manager 

    if errorMessages && errorMessages.length > 0
      ul.flash
        each message in errorMessages
          li.error= message
          
    main 
      block content